<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/agregarCelular" class="navbar-brand">VIVAN LAS AGUILAS DEL AMERICA</a>
        <ul>
            <li><a href="/agregarCelular">Celular</a></li>
        </ul>
    </div>
</nav>